In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import json
import datetime as dt
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen as uReq
import requests
from pprint import pprint

In [2]:
midas18 = ['neil-shen','bill-gurley','jim-goetz','carl-gordon','robert-nelsen',
          'mary-meeker','peter-fenton','jp-gan','douglas-leone','brian-singerman',
          'eric-paley','mike-maples-jr','kui-zhou','roelof-botha','byron-deeter',
          'scott-sandell','rob-hayes','dennis-phelps','josh-kopelman','hans-tung',
          'neeraj-agrawal','joe-lonsdale','xiaojun-li','xiao-ping-xu','jeff-jordan',
          'tony-florence','steve-anderson','bryan-roberts','john-doerr','sameer-gandhi',
          'rebecca-lynn','alfred-lin','anton-levy','scott-shleifer','vinod-khosla',
          'deven-parekh','shailendra-singh','marc-andreessen','jeremy-liew','mitch-lasky',
          'jeremy-levine','allen-zhu','lee-fixel','jim-tananbaum','ryan-sweeney',
          'ravi-mhatre','hemant-taneja','jonathan-silverstein','david-cowan','matt-cohler',
          'andrew-braccia','yuri-milner','aydin-senkut','jeff-horing','ann-miura-ko',
          'gaurav-garg','jim-breyer','david-weiden','james-mi','frank-rotman',
          'erhai-liu','beth-seidenberg','fred-wilson','hurst-lin','jeff-lieberman',
          'klaus-hommels','peter-thiel','ben-horowitz','joel-cutler','bryan-schreier',
          'todd-chaffee','kevin-comolli','yi-cao','jenny-lee','michael-eisenberg',
          'david-yuan','kirsten-green','quan-zhou','roger-ehrenberg','navin-chaddha',
          'ron-conway','peter-levine','neil-rimer','david-chao','randy-glein',
          'ted-schlein','jules-maltz','mamoon-hamid','theresia-gouw','steven-ji',
          'rich-wong','asheem-chandna','jeff-crowe','salil-deshpande','sonali-de-rycker',
          'young-guo','aileen-lee','ping-li','john-vrionis','jan-hammer']

others = ['chris-sacca','paul-madera','danny-rimer','promod-haque','david-sze',
          'reid-hoffman','jixun-foo','harry-weller','ann-lamont','michael-goguen',
          'charles-moldow','bijan-sabet','kevin-efrusy', 'ken-howery','sandy-miller',
          'george-zachary','richard-liu','george-bischof','rob-ward','josh-stein',
          'bruce-golden','shervin-pishevar','david-lee','izhar-armony','venky-ganesan',
          'suyang-zhang','satish-dharmaraj','shawn-carolan','peter-wagner','mike-volpi',
          'ben-nye','gordon-ritter','michael-dearing','michael-moritz','aneel-bhusri','bill-trenchard',
          'dave-mcclure','jeff-clavier','david-fialkow','stuart-peterson','jason-green'
          'scott-raney','ben-holmes','forest-baskett','james-topper','stephen-jurvetson']

In [3]:
# age = []
# notable_deal = []
# residence = []
# citizenship = []
# marital_status = []
education = []

url = 'https://www.forbes.com/profile/'

for name in midas18:
    response = requests.get(url+name)
    soup = bs(response.content, 'html.parser')
    span = soup.findAll('span', {'class':'profile-list__item__text'})
#     ages = span[1].text
#     age.append(ages)
#     deal = span[-5].text
#     notable_deal.append(deal)
#     try:
#         res = span[-4].text
#     except Exception:
#         pass
#     residence.append(res)
#     try:
#         cit = span[-3].text
#     except Exception:
#         pass
#     citizenship.append(cit)
#     try:
#         married = span[-2].text
#     except Exception:
#         pass
#     marital_status.append(married)
    try:
        edu = span[-1].text
    except Exception:
        print('N/A')
    education.append(edu)

In [4]:
education_others = []

for name in others:
    response = requests.get(url+name)
    soup = bs(response.content, 'html.parser')
    span = soup.findAll('span', {'class':'profile-list__item__text'})
    
    try:
        edu = span[-1].text
    except Exception:
        print('N/A')
    education_others.append(edu)

N/A

In [8]:
data = [('Name', midas18),
       ('Education', education)]


df = pd.DataFrame.from_items(data)
df.head()

            Name                                          Education
0      neil-shen  Bachelor of Arts/Science, Shanghai Jiaotong Un...
1    bill-gurley  Master of Business Administration, Red McCombs...
2      jim-goetz  Bachelor of Arts/Science, University of Cincin...
3    carl-gordon  Bachelor of Arts/Science, Harvard University; ...
4  robert-nelsen  Bachelor of Arts/Science, University of Puget ...

In [9]:
data_others = [('Name', others),
       ('Education', education_others)]


df_others = pd.DataFrame.from_items(data_others)
df_others.head()

           Name                                          Education
0   chris-sacca  Bachelor of Arts/Science, Georgetown Universit...
1   paul-madera  Bachelor of Arts/Science, United States Air Fo...
2   danny-rimer       Bachelor of Arts/Science, Harvard University
3  promod-haque  Ph.D, Northwestern University; Master of Busin...
4     david-sze  Bachelor of Arts/Science, Yale University; Mas...

In [10]:
df = pd.concat([df, df_others], ignore_index=True)
df

                       Name                                          Education
0                 neil-shen  Bachelor of Arts/Science, Shanghai Jiaotong Un...
1               bill-gurley  Master of Business Administration, Red McCombs...
2                 jim-goetz  Bachelor of Arts/Science, University of Cincin...
3               carl-gordon  Bachelor of Arts/Science, Harvard University; ...
4             robert-nelsen  Bachelor of Arts/Science, University of Puget ...
5               mary-meeker  Bachelor of Arts/Science, DePauw University; M...
6              peter-fenton  Bachelor of Arts/Science, Stanford University;...
7                    jp-gan  Master of Business Administration, University ...
8             douglas-leone  Bachelor of Arts/Science, Cornell University; ...
9           brian-singerman      Bachelor of Arts/Science, Stanford University
10               eric-paley  Master of Business Administration, Harvard Bus...
11           mike-maples-jr  Bachelor of Arts/Science, Stanford University;...
12                 kui-zhou  Bachelor of Arts/Science, Wuhan University of ...
13             roelof-botha  Bachelor of Arts/Science, University of Cape T...
14             byron-deeter  Bachelor of Arts/Science, University of Califo...
15            scott-sandell  Bachelor of Arts/Science, Dartmouth College; M...
16                rob-hayes  Bachelor of Arts/Science, University of Califo...
17            dennis-phelps        Bachelor of Arts/Science, Dartmouth College
18            josh-kopelman  Bachelor of Arts/Science, University of Pennsy...
19                hans-tung      Bachelor of Arts/Science, Stanford University
20           neeraj-agrawal  Master of Business Administration, Harvard Bus...
21             joe-lonsdale      Bachelor of Arts/Science, Stanford University
22               xiaojun-li  Master of Business Administration, Wharton Sch...
23             xiao-ping-xu  Master of Arts, University of Saskatchewan; Ba...
24              jeff-jordan  Bachelor of Arts/Science, Amherst College; Mas...
25            tony-florence                                      United States
26           steve-anderson  Bachelor of Arts/Science, University of Washin...
27            bryan-roberts  Bachelor of Arts/Science, Dartmouth College; D...
28               john-doerr  Bachelor of Arts/Science, Rice University; Mas...
29            sameer-gandhi  Master of Business Administration, Stanford Gr...
..                      ...                                                ...
115          george-zachary  Bachelor of Arts/Science, Massachusetts Instit...
116             richard-liu  Master of Business Administration, China Europ...
117          george-bischof  Bachelor of Arts / Science, Stanford Universit...
118                rob-ward  Bachelor of Arts / Science, Williams College; ...
119              josh-stein  Bachelor of Arts / Science, Dartmouth College;...
120            bruce-golden  Bachelor of Arts / Science, Columbia Universit...
121        shervin-pishevar  Bachelor of Arts/Science, University of Califo...
122               david-lee  Bachelor of Arts / Science, Johns Hopkins Univ...
123            izhar-armony  Master of Business Administration, Wharton Sch...
124           venky-ganesan  Bachelor of Arts / Science, Reed College; Bach...
125            suyang-zhang  Bachelor of Arts / Science, Shanghai Universit...
126        satish-dharmaraj              Master of Science, Clemson University
127           shawn-carolan  Master of Science, University of Illinois at U...
128            peter-wagner  Master of Business Administration, Harvard Bus...
129              mike-volpi  Bachelor of Arts / Science, Stanford Universit...
130                 ben-nye  Bachelor of Arts / Science, Harvard University...
131           gordon-ritter   Bachelor of Arts / Science, Princeton University
132         michael-dearing  Bachelor of Arts / Science, Brown University; ...
133          michael-moritz  Bachelor of Arts/Science, Christ Church, Oxfor...
134            aneel-bhusri  Bachelor of Arts/Science, Brown University; Ma...
135          bill-trenchard       Bachelor of Arts/Science, Cornell University
136            dave-mcclure  Bachelor of Arts/Science, Johns Hopkins Univer...
137            jeff-clavier      Master of Science, Universite Paris Descartes
138           david-fialkow  Bachelor of Arts/Science, Colgate University; ...
139         stuart-peterson  Bachelor of Arts/Science, University of Califo...
140  jason-greenscott-raney  Bachelor of Arts/Science, University of Califo...
141              ben-holmes               Master of Science, Oxford University
142          forest-baskett  Bachelor of Arts / Science, Rice University; D...
143            james-topper  Bachelor of Arts / Science, University of Mich...
144       stephen-jurvetson  Bachelor of Arts / Science, Stanford Universit...

[145 rows x 2 columns]

In [11]:
names = df['Name'].tolist()
clean_names = []

for name in names:
    new = name.replace('-', ' ')
    capital = new.title()
    clean_names.append(capital)

clean_names[:5]

['Neil Shen', 'Bill Gurley', 'Jim Goetz', 'Carl Gordon', 'Robert Nelsen']

In [12]:
df['Undergraduate'] = df['Education'].str.split(';')

In [13]:
eduList = df['Undergraduate']

In [14]:
undergradList = []

In [15]:
for undergrad in eduList:
    education = undergrad[0]
    undergradList.append(education)

In [16]:
mastersList = []

In [17]:
for masters in eduList:
    education = masters[-1]
    mastersList.append(education)

In [18]:
df['Name'] = clean_names
df.head()

,Name,Education,Undergraduate
0,Neil Shen,"Bachelor of Arts/Science, Shanghai Jiaotong Un...","[Bachelor of Arts/Science, Shanghai Jiaotong U..."
1,Bill Gurley,"Master of Business Administration, Red McCombs...","[Master of Business Administration, Red McComb..."
2,Jim Goetz,"Bachelor of Arts/Science, University of Cincin...","[Bachelor of Arts/Science, University of Cinci..."
3,Carl Gordon,"Bachelor of Arts/Science, Harvard University; ...","[Bachelor of Arts/Science, Harvard University,..."
4,Robert Nelsen,"Bachelor of Arts/Science, University of Puget ...","[Bachelor of Arts/Science, University of Puget..."

In [19]:
df['Undergraduate'] = undergradList
df.head()

,Name,Education,Undergraduate
0,Neil Shen,"Bachelor of Arts/Science, Shanghai Jiaotong Un...","Bachelor of Arts/Science, Shanghai Jiaotong Un..."
1,Bill Gurley,"Master of Business Administration, Red McCombs...","Master of Business Administration, Red McCombs..."
2,Jim Goetz,"Bachelor of Arts/Science, University of Cincin...","Bachelor of Arts/Science, University of Cincin..."
3,Carl Gordon,"Bachelor of Arts/Science, Harvard University; ...","Bachelor of Arts/Science, Harvard University"
4,Robert Nelsen,"Bachelor of Arts/Science, University of Puget ...","Bachelor of Arts/Science, University of Puget ..."

In [20]:
cleanMasters = []

for space in mastersList:
    new = space.lstrip()
    cleanMasters.append(new)

In [21]:
df["Master's"] = cleanMasters
df.head()

,Name,Education,Undergraduate,Master's
0,Neil Shen,"Bachelor of Arts/Science, Shanghai Jiaotong Un...","Bachelor of Arts/Science, Shanghai Jiaotong Un...","Master of Arts, Yale University"
1,Bill Gurley,"Master of Business Administration, Red McCombs...","Master of Business Administration, Red McCombs...","Bachelor of Arts/Science, University of Florida"
2,Jim Goetz,"Bachelor of Arts/Science, University of Cincin...","Bachelor of Arts/Science, University of Cincin...","Master of Science, Stanford University"
3,Carl Gordon,"Bachelor of Arts/Science, Harvard University; ...","Bachelor of Arts/Science, Harvard University","Ph.D, Massachusetts Institute of Technology"
4,Robert Nelsen,"Bachelor of Arts/Science, University of Puget ...","Bachelor of Arts/Science, University of Puget ...","Master of Business Administration, University ..."

In [22]:
bachelorsCount = df['Undergraduate'].value_counts()
bachelorsCount

Bachelor of Arts/Science, Stanford University                                 11
Bachelor of Arts/Science, Harvard University                                   7
Master of Business Administration, Harvard Business School                     5
Bachelor of Arts/Science, Dartmouth College                                    4
Bachelor of Arts/Science, Cornell University                                   4
Bachelor of Arts/Science, Yale University                                      4
Bachelor of Arts/Science, University of Pennsylvania                           4
Bachelor of Arts/Science, Massachusetts Institute of Technology                4
Master of Business Administration, Stanford Graduate School of Business        4
Bachelor of Arts / Science, Stanford University                                4
Bachelor of Arts/Science, University of California, Berkeley                   3
Bachelor of Arts/Science, University of California, Los Angeles                3
Bachelor of Arts/Science, Wharton School                                       3
Bachelor of Arts/Science, Brown University                                     3
Master of Business Administration, Wharton School                              2
Married                                                                        2
Bachelor of Arts/Science, Boston University                                    2
Bachelor of Arts/Science, Washington University                                2
Bachelor of Arts / Science, Harvard University                                 2
Bachelor of Arts/Science, Yeshiva University                                   1
Bachelor of Science in Engineering, National University of Singapore           1
Bachelor of Arts / Science, Rice University                                    1
Bachelor of Arts/Science, Rice University                                      1
Bachelor of Arts/Science, United States Air Force Academy                      1
Bachelor of Arts/Science, Northwestern University                              1
Bachelor of Arts / Science, Duke University                                    1
Bachelor of Arts / Science, Brown University                                   1
Bachelor of Arts/Science, Nanjing University of Aeronautics & Astronautics     1
Bachelor of Arts/Science, University of Cincinnati                             1
Bachelor of Arts / Science, Reed College                                       1
                                                                              ..
Bachelor of Arts/Science, Georgetown University                                1
Bachelor of Arts/Science, Notre Dame University                                1
Bachelor of Arts/Science, Wuhan University of Technology                       1
Master of Science, University of Illinois at Urbana                            1
Bachelor of Arts/Science, Colby College                                        1
Master of Arts/Science, Princeton University                                   1
Master of Science, Oxford University                                           1
Bachelor of Arts / Science, Williams College                                   1
Bachelor of Science in Engineering, Shanghai Jiaotong University               1
Ph.D, Northwestern University                                                  1
Master of Science, Chinese Academy of Sciences                                 1
Bachelor of Arts/Science, University of Washington                             1
Bachelor of Arts/Science, Colgate University                                   1
Bachelor of Arts/Science, University of Puget Sound                            1
Bachelor of Arts/Science, Case Western Reserve University                      1
Bachelor of Arts/Science, Denison University                                   1
Bachelor of Arts/Science, Duke University                                      1
Master of Arts, Oxford University                                              1
Master of Science, Universite Paris Descartes                                  1
Bachelor of Arts/Science, Johns Hopkins University                             1
Bachelor of Arts/Science, University of Minnesota                              1
Master of Science in Engineering, Massachusetts Institute of Technology        1
Bachelor of Arts/Science, DePauw University                                    1
Master of Science, University of California, Los Angeles                       1
Bachelor of Arts/Science, San Jose State University                            1
Master of Science, Stanford University                                         1
Master of Business Administration, University of Chicago                       1
Bachelor of Arts/Science, Bryn Mawr College                                    1
Bachelor of Arts / Science, Princeton University                               1
Bachelor of Arts / Science, University of Virginia                             1
Name: Undergraduate, Length: 91, dtype: int64

In [23]:
mastersCount = df["Master's"].value_counts()
mastersCount

Master of Business Administration, Stanford Graduate School of Business                   22
Master of Business Administration, Harvard Business School                                12
Master of Science, Stanford University                                                     5
Master of Science, Massachusetts Institute of Technology                                   4
Bachelor of Arts/Science, Stanford University                                              4
Bachelor of Arts/Science, Dartmouth College                                                3
Master of Business Administration, University of Chicago                                   3
Master of Business Administration, Kellogg School of Management                            3
Bachelor of Arts/Science, Harvard University                                               3
Married                                                                                    2
Bachelor of Arts/Science, Yale University                                                  2
Master of Business Administration, Wharton School                                          2
Bachelor of Arts/Science, Wharton School                                                   2
Master of Arts, University of Pennsylvania                                                 2
Master of Business Administration, Sloan School of Management                              2
Doctor of Jurisprudence, Boston College                                                    2
Doctor of Jurisprudence, Stanford University                                               2
Bachelor of Arts/Science, Cornell University                                               2
Bachelor of Arts/Science, University of Pennsylvania                                       2
Master of Business Administration, Columbia Business School                                2
Master of Science, Oxford University                                                       2
Bachelor of Arts/Science, University of California, Berkeley                               2
Bachelor of Arts/Science, University of Science and Technology of China                    2
Bachelor of Arts/Science, Washington University                                            1
Master of Business Administration, Anderson School of Management                           1
Bachelor of Arts / Science, University of Science and Technology Beijing                   1
Doctor of Jurisprudence, New York University                                               1
Bachelor of Arts/Science, University of Florida                                            1
Bachelor of Arts/Science, Princeton University                                             1
Master of Science, Washington University                                                   1
                                                                                          ..
Master of Science, National University of Singapore                                        1
Bachelor of Arts/Science, Central Conservatory of Music                                    1
Drop Out, Wharton School                                                                   1
Bachelor of Arts/Science, University of Minnesota                                          1
Master of Business Administration, China Europe International Business School              1
EMBA, China Europe International Business School                                           1
Master of Science, Universite Paris Descartes                                              1
United States                                                                              1
Bachelor of Arts/Science, University of Illinois, Urbana-Champaign                         1
Bachelor of Arts/Science, Shanghai Jiaotong University                                     1
Bachelor of Arts/Science, Boston College                                                   1
Bachelor of Arts / Science, Harvard University                                             1
Master of Business Administration, INSEAD                                                  1
Master of Business Administration, Samuel Curtis Johnson Graduate School of Management     1
Bachelor of Arts / Science, California Institute of Technology                             1
Master of Business Administration, University of Pennsylvania Wharton School               1
Bachelor of Arts/Science, Massachusetts Institute of Technology                            1
Bachelor of Arts/Science, San Jose State University                                        1
EMBA, Tsinghua University                                                                  1
Master of Business Administration, Columbia University                                     1
Medical Doctor, University of Miami                                                        1
Master of Business Administration, Stanford University                                     1
Bachelor of Arts/Science, Duke University                                                  1
Master of Arts, Yale University                                                            1
Bachelor of Arts/Science, University of California, Los Angeles                            1
Bachelor of Arts/Science, Fudan University                                                 1
Ph.D, University of Fribourg                                                               1
Master of Business Administration, MIT Sloan School of Management                          1
Master of Science, Rice University                                                         1
Doctor of Jurisprudence, University of Virginia                                            1
Name: Master's, Length: 81, dtype: int64

Name                                                     Neil Shen
Education        Bachelor of Arts/Science, Shanghai Jiaotong Un...
Undergraduate    Bachelor of Arts/Science, Shanghai Jiaotong Un...
Master's                           Master of Arts, Yale University
Name: 0, dtype: object