In [10]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import json
import datetime as dt
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen as uReq
import requests
from pprint import pprint

In [11]:
df = pd.read_csv("Midas_List_Analysis_Standardized.csv")
df.head()

,Name,Education,Notable_Deal,Undergraduate,Master's
0,Neil Shen,"Bachelor of Arts/Science, Shanghai Jiaotong Un...",Alibaba,"Bachelor of Arts/Science, Shanghai Jiaotong Un...","Master of Arts, Yale University"
1,Bill Gurley,"Bachelor of Arts/Science, University of Florid...",Uber,"Bachelor of Arts/Science, University of Florida","Master of Business Administration, Red McCombs..."
2,Jim Goetz,"Bachelor of Arts/Science, University of Cincin...",WhatsApp,"Bachelor of Arts/Science, University of Cincin...","Master of Science, Stanford University"
3,Carl Gordon,"Bachelor of Arts/Science, Harvard University; ...",Acerta,"Bachelor of Arts/Science, Harvard University","Ph.D, Massachusetts Institute of Technology"
4,Robert Nelsen,"Bachelor of Arts/Science, University of Puget ...",Juno Therapeutics,"Bachelor of Arts/Science, University of Puget ...","Master of Business Administration, University ..."