In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import json
import datetime as dt
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen as uReq
import requests
from pprint import pprint

In [2]:
df = pd.read_csv("Midas_List_Analysis_Standardized.csv")
df.head()

,Name,Education,Notable_Deal,Undergraduate,Masters
0,Neil Shen,"Bachelor of Arts/Science, Shanghai Jiaotong Un...",Alibaba,"Bachelor of Arts/Science, Shanghai Jiaotong Un...","Master of Arts, Yale University"
1,Bill Gurley,"Bachelor of Arts/Science, University of Florid...",Uber,"Bachelor of Arts/Science, University of Florida","Master of Business Administration, University ..."
2,Jim Goetz,"Bachelor of Arts/Science, University of Cincin...",WhatsApp,"Bachelor of Arts/Science, University of Cincin...","Master of Science, Stanford University"
3,Carl Gordon,"Bachelor of Arts/Science, Harvard University; ...",Acerta,"Bachelor of Arts/Science, Harvard University","Ph.D, Massachusetts Institute of Technology"
4,Robert Nelsen,"Bachelor of Arts/Science, University of Puget ...",Juno Therapeutics,"Bachelor of Arts/Science, University of Puget ...","Master of Business Administration, University ..."

In [3]:
df['Undergraduate']

0      Bachelor of Arts/Science, Shanghai Jiaotong Un...
1        Bachelor of Arts/Science, University of Florida
2      Bachelor of Arts/Science, University of Cincin...
3           Bachelor of Arts/Science, Harvard University
4      Bachelor of Arts/Science, University of Puget ...
5            Bachelor of Arts/Science, DePauw University
6          Bachelor of Arts/Science, Stanford University
7           Bachelor of Arts/Science, University of Iowa
8           Bachelor of Arts/Science, Cornell University
9          Bachelor of Arts/Science, Stanford University
10           Bachelor of Arts/Science, Dartmouth College
11         Bachelor of Arts/Science, Stanford University
12     Bachelor of Arts/Science, Wuhan University of ...
13     Bachelor of Arts/Science, University of Cape Town
14     Bachelor of Arts/Science, University of Califo...
15           Bachelor of Arts/Science, Dartmouth College
16     Bachelor of Arts/Science, University of Califo...
17           Bachelor of Arts/Science, Dartmouth College
18     Bachelor of Arts/Science, University of Pennsy...
19         Bachelor of Arts/Science, Stanford University
20          Bachelor of Arts/Science, Cornell University
21         Bachelor of Arts/Science, Stanford University
22     Bachelor of Arts/Science, University of Scienc...
23     Bachelor of Arts/Science, Central Conservatory...
24             Bachelor of Arts/Science, Amherst College
25           Bachelor of Arts/Science, Dartmouth College
26     Bachelor of Arts/Science, University of Washin...
27           Bachelor of Arts/Science, Dartmouth College
28             Bachelor of Arts/Science, Rice University
29     Bachelor of Arts/Science, Massachusetts Instit...
                             ...
116    Bachelor of Arts/Science, University of Scienc...
117        Bachelor of Arts/Science, Stanford University
118           Bachelor of Arts/Science, Williams College
119          Bachelor of Arts/Science, Dartmouth College
120        Bachelor of Arts/Science, Columbia University
121    Bachelor of Arts/Science, University of Califo...
122    Bachelor of Arts/Science, Johns Hopkins Univer...
123           Master of Arts, University of Pennsylvania
124               Bachelor of Arts/Science, Reed College
125        Bachelor of Arts/Science, Shanghai University
126         Bachelor of Arts/Science, Clemson University
127    Bachelor of Science/Master of Science, Univers...
128         Bachelor of Arts/Science, Harvard University
129        Bachelor of Arts/Science, Stanford University
130         Bachelor of Arts/Science, Harvard University
131       Bachelor of Arts/Science, Princeton University
132           Bachelor of Arts/Science, Brown University
133    Bachelor of Arts/Science, Christ Church Oxford...
134           Bachelor of Arts/Science, Brown University
135         Bachelor of Arts/Science, Cornell University
136    Bachelor of Arts/Science, Johns Hopkins Univer...
137                                           None, None
138         Bachelor of Arts/Science, Colgate University
139    Bachelor of Arts/Science, University of Califo...
140          Bachelor of Arts/Science, Dartmouth College
141            Bachelor of Arts/Science, Duke University
142                                           None, None
143            Bachelor of Arts/Science, Rice University
144     Bachelor of Arts/Science, University of Michigan
145        Bachelor of Arts/Science, Stanford University
Name: Undergraduate, Length: 146, dtype: object

In [4]:
undergradlist = df['Undergraduate'].dropna(how='all')

In [5]:
undergradlist = undergradlist.str.split(',')
undergradlist

0      [Bachelor of Arts/Science,  Shanghai Jiaotong ...
1      [Bachelor of Arts/Science,  University of Flor...
2      [Bachelor of Arts/Science,  University of Cinc...
3        [Bachelor of Arts/Science,  Harvard University]
4      [Bachelor of Arts/Science,  University of Puge...
5         [Bachelor of Arts/Science,  DePauw University]
6       [Bachelor of Arts/Science,  Stanford University]
7        [Bachelor of Arts/Science,  University of Iowa]
8        [Bachelor of Arts/Science,  Cornell University]
9       [Bachelor of Arts/Science,  Stanford University]
10        [Bachelor of Arts/Science,  Dartmouth College]
11      [Bachelor of Arts/Science,  Stanford University]
12     [Bachelor of Arts/Science,  Wuhan University o...
13     [Bachelor of Arts/Science,  University of Cape...
14     [Bachelor of Arts/Science,  University of Cali...
15        [Bachelor of Arts/Science,  Dartmouth College]
16     [Bachelor of Arts/Science,  University of Cali...
17        [Bachelor of Arts/Science,  Dartmouth College]
18     [Bachelor of Arts/Science,  University of Penn...
19      [Bachelor of Arts/Science,  Stanford University]
20       [Bachelor of Arts/Science,  Cornell University]
21      [Bachelor of Arts/Science,  Stanford University]
22     [Bachelor of Arts/Science,  University of Scie...
23     [Bachelor of Arts/Science,  Central Conservato...
24          [Bachelor of Arts/Science,  Amherst College]
25        [Bachelor of Arts/Science,  Dartmouth College]
26     [Bachelor of Arts/Science,  University of Wash...
27        [Bachelor of Arts/Science,  Dartmouth College]
28          [Bachelor of Arts/Science,  Rice University]
29     [Bachelor of Arts/Science,  Massachusetts Inst...
                             ...
116    [Bachelor of Arts/Science,  University of Scie...
117     [Bachelor of Arts/Science,  Stanford University]
118        [Bachelor of Arts/Science,  Williams College]
119       [Bachelor of Arts/Science,  Dartmouth College]
120     [Bachelor of Arts/Science,  Columbia University]
121    [Bachelor of Arts/Science,  University of Cali...
122    [Bachelor of Arts/Science,  Johns Hopkins Univ...
123        [Master of Arts,  University of Pennsylvania]
124            [Bachelor of Arts/Science,  Reed College]
125     [Bachelor of Arts/Science,  Shanghai University]
126      [Bachelor of Arts/Science,  Clemson University]
127    [Bachelor of Science/Master of Science,  Unive...
128      [Bachelor of Arts/Science,  Harvard University]
129     [Bachelor of Arts/Science,  Stanford University]
130      [Bachelor of Arts/Science,  Harvard University]
131    [Bachelor of Arts/Science,  Princeton University]
132        [Bachelor of Arts/Science,  Brown University]
133    [Bachelor of Arts/Science,  Christ Church Oxfo...
134        [Bachelor of Arts/Science,  Brown University]
135      [Bachelor of Arts/Science,  Cornell University]
136    [Bachelor of Arts/Science,  Johns Hopkins Univ...
137                                        [None,  None]
138      [Bachelor of Arts/Science,  Colgate University]
139    [Bachelor of Arts/Science,  University of Cali...
140       [Bachelor of Arts/Science,  Dartmouth College]
141         [Bachelor of Arts/Science,  Duke University]
142                                        [None,  None]
143         [Bachelor of Arts/Science,  Rice University]
144    [Bachelor of Arts/Science,  University of Mich...
145     [Bachelor of Arts/Science,  Stanford University]
Name: Undergraduate, Length: 146, dtype: object

In [6]:
eduList = []

for university in undergradlist:
    school = university[1]
    cleaned = school.lstrip()
    eduList.append(cleaned)

In [7]:
print(eduList[:5])

['Shanghai Jiaotong University', 'University of Florida', 'University of Cincinnati', 'Harvard University', 'University of Puget Sound']

In [8]:
masterslist = df['Masters'].dropna(how='all').str.split(',')
masterslist

0                     [Master of Arts,  Yale University]
1      [Master of Business Administration,  Universit...
2              [Master of Science,  Stanford University]
3         [Ph.D,  Massachusetts Institute of Technology]
4      [Master of Business Administration,  Universit...
5      [Master of Business Administration,  Cornell U...
6      [Master of Business Administration,  Stanford ...
7      [Master of Business Administration,  Universit...
8      [Master of Business Administration,  Massachus...
9                                          [None,  None]
10     [Master of Business Administration,  Harvard U...
11     [Master of Business Administration,  Harvard U...
12     [Master of Business Administration,  Tsinghua ...
13     [Master of Business Administration,  Stanford ...
14                                         [None,  None]
15     [Master of Business Administration,  Stanford ...
16     [Master of Business Administration,  Columbia ...
17                                         [None,  None]
18                                         [None,  None]
19     [Entrepreneurship,  Massachusetts Institute of...
20     [Master of Business Administration,  Harvard U...
21                                         [None,  None]
22     [Master of Business Administration,  Universit...
23         [Master of Arts,  University of Saskatchewan]
24     [Master of Business Administration,  Stanford ...
25     [Master of Business Administration,  Dartmouth...
26     [Master of Business Administration,  Stanford ...
27                      [Doctorate,  Harvard University]
28                 [Master of Science,  Rice University]
29     [Master of Business Administration,  Stanford ...
                             ...
116    [Master of Business Administration,  China Eur...
117    [Master of Business Administration,  Northwest...
118    [Master of Science,  Massachusetts Institute o...
119    [Master of Business Administration,  Stanford ...
120    [Master of Business Administration,  Stanford ...
121                                        [None,  None]
122      [Doctor of Jurisprudence,  New York University]
123    [Master of Business Administration,  Universit...
124                                        [None,  None]
125    [EMBA,  China Europe International Business Sc...
126    [Master of Business Administration,  Harvard U...
127    [Master of Business Administration,  Stanford ...
128    [Master of Business Administration,  Harvard U...
129            [Master of Science,  Stanford University]
130    [Master of Business Administration,  Harvard U...
131                                        [None,  None]
132    [Master of Business Administration,  Harvard U...
133    [Master of Business Administration,  Universit...
134    [Master of Business Administration,  Stanford ...
135                                        [None,  None]
136                                        [None,  None]
137     [Master of Science,  Universite Paris Descartes]
138           [Doctor of Jurisprudence,  Boston College]
139    [Master of Business Administration,  Universit...
140    [Master of Business Administration,  Harvard U...
141    [Master of Business Administration,  Harvard U...
142              [Master of Science,  Oxford University]
143             [Doctorate,  University of Texas Austin]
144               [Medical Doctor,  Stanford University]
145            [Master of Science,  Stanford University]
Name: Masters, Length: 146, dtype: object

In [9]:
otherlist = []

for university in masterslist:
    school = university[1]
    cleaned = school.lstrip()
    otherlist.append(cleaned)

In [10]:
print(otherlist[:5])

['Yale University', 'University of Texas Austin', 'Stanford University', 'Massachusetts Institute of Technology', 'University of Chicago']

In [11]:
eduList = df['Undergraduate']
undergradList = []

for item in eduList:
    school = item[0]
    undergradList.append(school)

In [12]:
df['Notable_Deal']

0                 Alibaba
1                    Uber
2                WhatsApp
3                  Acerta
4       Juno Therapeutics
5                 Spotify
6                  Docker
7                   Meitu
8               Rackspace
9              Stemcentrx
10                   Uber
11                   Okta
12               New Dada
13                 Square
14                 Twilio
15               MuleSoft
16                   Uber
17                   Snap
18        Flatiron Health
19             Musical.ly
20                  Coupa
21                   Wish
22                 Xiaomi
23                 Meicai
24                 Airbnb
25                Jet.com
26             Stitch Fix
27           10x Genomics
28                 Amazon
29                Dropbox
              ...
116                Xiaomi
117                   Box
118      Tableau Software
119                   Box
120     Qlik Technologies
121                  Uber
122               Twitter
123             RPX Corp.
124    Palo Alto Networks
125                 Tudou
126                 Sonos
127                  Uber
128        Nimble Storage
129          Pure Storage
130              LinkedIn
131         Veeva Systems
132                 MoPub
133                Google
134               WorkDay
135                  Uber
136                  Lyft
137                Fitbit
138             DataLogix
139            Stemcentrx
140            Stemcentrx
141                Stripe
142                  King
143      Tableau Software
144                Acerta
145                SpaceX
Name: Notable_Deal, Length: 146, dtype: object

In [13]:
deal_count = df['Notable_Deal'].value_counts()
print(deal_count)

Facebook             8
Uber                 7
Spotify              5
Twitter              4
Airbnb               4
Stemcentrx           3
Snap                 3
Lyft                 3
AppDynamics          3
Xiaomi               3
Adyen                3
Box                  2
MuleSoft             2
Acerta               2
Stripe               2
LinkedIn             2
Okta                 2
Lending Club         2
Jet.com              2
10x Genomics         2
Meitu                2
Tableau Software     2
Dropbox              2
Supercell            2
Lemonade             2
Slack                2
Alibaba              2
58.com               1
SpaceX               1
Coupa                1
                    ..
Amazon               1
King                 1
Credit Karma         1
RPX Corp.            1
Pure Storage         1
None                 1
Coinbase             1
CreditEase           1
Qlik Technologies    1
Rong360              1
Apigee               1
Stitch Fix           1
Shape Security       1
Musical.ly           1
FireEye              1
MoPub                1
YY                   1
Fanatics             1
Trulia               1
Square               1
Google               1
RingCentral          1
Qualtrics            1
Fitbit               1
Ascendis Pharma      1
Sonos                1
Delivery Hero        1
Go-Jek Indonesia     1
Veeva Systems        1
Airwatch             1
Name: Notable_Deal, Length: 95, dtype: int64

In [14]:
import seaborn as sns
%matplotlib inline

In [15]:
df.head()

,Name,Education,Notable_Deal,Undergraduate,Masters
0,Neil Shen,"Bachelor of Arts/Science, Shanghai Jiaotong Un...",Alibaba,"Bachelor of Arts/Science, Shanghai Jiaotong Un...","Master of Arts, Yale University"
1,Bill Gurley,"Bachelor of Arts/Science, University of Florid...",Uber,"Bachelor of Arts/Science, University of Florida","Master of Business Administration, University ..."
2,Jim Goetz,"Bachelor of Arts/Science, University of Cincin...",WhatsApp,"Bachelor of Arts/Science, University of Cincin...","Master of Science, Stanford University"
3,Carl Gordon,"Bachelor of Arts/Science, Harvard University; ...",Acerta,"Bachelor of Arts/Science, Harvard University","Ph.D, Massachusetts Institute of Technology"
4,Robert Nelsen,"Bachelor of Arts/Science, University of Puget ...",Juno Therapeutics,"Bachelor of Arts/Science, University of Puget ...","Master of Business Administration, University ..."

In [16]:
eduList.unique

<bound method Series.unique of 0      Bachelor of Arts/Science, Shanghai Jiaotong Un...
1        Bachelor of Arts/Science, University of Florida
2      Bachelor of Arts/Science, University of Cincin...
3           Bachelor of Arts/Science, Harvard University
4      Bachelor of Arts/Science, University of Puget ...
5            Bachelor of Arts/Science, DePauw University
6          Bachelor of Arts/Science, Stanford University
7           Bachelor of Arts/Science, University of Iowa
8           Bachelor of Arts/Science, Cornell University
9          Bachelor of Arts/Science, Stanford University
10           Bachelor of Arts/Science, Dartmouth College
11         Bachelor of Arts/Science, Stanford University
12     Bachelor of Arts/Science, Wuhan University of ...
13     Bachelor of Arts/Science, University of Cape Town
14     Bachelor of Arts/Science, University of Califo...
15           Bachelor of Arts/Science, Dartmouth College
16     Bachelor of Arts/Science, University of Califo...
17           Bachelor of Arts/Science, Dartmouth College
18     Bachelor of Arts/Science, University of Pennsy...
19         Bachelor of Arts/Science, Stanford University
20          Bachelor of Arts/Science, Cornell University
21         Bachelor of Arts/Science, Stanford University
22     Bachelor of Arts/Science, University of Scienc...
23     Bachelor of Arts/Science, Central Conservatory...
24             Bachelor of Arts/Science, Amherst College
25           Bachelor of Arts/Science, Dartmouth College
26     Bachelor of Arts/Science, University of Washin...
27           Bachelor of Arts/Science, Dartmouth College
28             Bachelor of Arts/Science, Rice University
29     Bachelor of Arts/Science, Massachusetts Instit...
                             ...
116    Bachelor of Arts/Science, University of Scienc...
117        Bachelor of Arts/Science, Stanford University
118           Bachelor of Arts/Science, Williams College
119          Bachelor of Arts/Science, Dartmouth College
120        Bachelor of Arts/Science, Columbia University
121    Bachelor of Arts/Science, University of Califo...
122    Bachelor of Arts/Science, Johns Hopkins Univer...
123           Master of Arts, University of Pennsylvania
124               Bachelor of Arts/Science, Reed College
125        Bachelor of Arts/Science, Shanghai University
126         Bachelor of Arts/Science, Clemson University
127    Bachelor of Science/Master of Science, Univers...
128         Bachelor of Arts/Science, Harvard University
129        Bachelor of Arts/Science, Stanford University
130         Bachelor of Arts/Science, Harvard University
131       Bachelor of Arts/Science, Princeton University
132           Bachelor of Arts/Science, Brown University
133    Bachelor of Arts/Science, Christ Church Oxford...
134           Bachelor of Arts/Science, Brown University
135         Bachelor of Arts/Science, Cornell University
136    Bachelor of Arts/Science, Johns Hopkins Univer...
137                                           None, None
138         Bachelor of Arts/Science, Colgate University
139    Bachelor of Arts/Science, University of Califo...
140          Bachelor of Arts/Science, Dartmouth College
141            Bachelor of Arts/Science, Duke University
142                                           None, None
143            Bachelor of Arts/Science, Rice University
144     Bachelor of Arts/Science, University of Michigan
145        Bachelor of Arts/Science, Stanford University
Name: Undergraduate, Length: 146, dtype: object>

In [17]:
under_edu_count = eduList.value_counts()
under_edu_count

Bachelor of Arts/Science, Stanford University                              16
Bachelor of Arts/Science, Harvard University                               11
Bachelor of Arts/Science, Dartmouth College                                 9
Bachelor of Arts/Science, University of Pennsylvania                        7
Bachelor of Arts/Science, Massachusetts Institute of Technology             6
Bachelor of Arts/Science, Cornell University                                6
Bachelor of Arts/Science, Yale University                                   5
Bachelor of Arts/Science, Brown University                                  4
Bachelor of Arts/Science, University of Virginia                            3
Bachelor of Arts/Science, Duke University                                   3
Bachelor of Arts/Science, Indian Institute of Technology                    2
Bachelor of Arts/Science, University of Michigan                            2
Bachelor of Arts/Science, University of Florida                             2
Bachelor of Arts/Science, Johns Hopkins University                          2
Bachelor of Arts/Science, Shanghai Jiaotong University                      2
Bachelor of Arts/Science, Washington University                             2
None, None                                                                  2
Bachelor of Arts/Science, Princeton University                              2
Bachelor of Arts/Science, University of Science and Technology of China     2
Bachelor of Arts/Science, University of California Berkeley                 2
Bachelor of Arts/Science, Boston University                                 2
Bachelor of Arts/Science, Columbia University                               2
Bachelor of Arts/Science, Rice University                                   2
Bachelor of Arts/Science, Central Conservatory of Music                     1
Bachelor of Arts/Science, Georgetown University                             1
Master of Science, Peking University                                        1
Bachelor of Arts/Science, Tsinghua University                               1
Bachelor of Arts/Science, University of Washington                          1
Bachelor of Arts/Science, University of California, Berkeley                1
Bachelor of Arts/Science, University of Cape Town                           1
                                                                           ..
Bachelor of Arts/Science, Australian National University                    1
Bachelor of Arts/Science, University of Cincinnati                          1
Bachelor of Arts/Science, University of Science and Technology Beijing      1
Bachelor of Technology, Indian Institute of Technology Bombay               1
Bachelor of Arts/Science, Barnard College                                   1
Bachelor of Arts/Science, Christ Church Oxford University                   1
Bachelor of Arts/Science, Colgate University                                1
Bachelor of Arts/Science, Amherst College                                   1
Bachelor of Arts/Science, University of California Los Angeles              1
Master of Arts, Oxford University                                           1
Bachelor of Arts/Science, Fudan University                                  1
Bachelor of Science in Engineering, Shanghai Jiaotong University            1
Bachelor of Arts/Science, Delhi College of Engineering                      1
Bachelor of Arts/Science, University of Iowa                                1
Bachelor of Arts/Science, Moscow State University                           1
Bachelor of Arts/Science, University of California, Los Angeles             1
Bachelor of Arts/Science, DePauw University                                 1
Bachelor of Arts/Science, United States Air Force Academy                   1
Bachelor of Science in Engineering, National University of Singapore        1
Bachelor of Science in Engineering, Purdue University                       1
Bachelor of Arts/Science, University of Arizona                             1
Master of Business Administration, University of Fribourg                   1
Bachelor of Arts/Science, Bryn Mawr College                                 1
Bachelor of Arts/Science, Notre Dame University                             1
Bachelor of Arts/Science, University of Missouri                            1
Bachelor of Arts/Science, Boston College                                    1
Bachelor of Arts/Science, Shanghai University                               1
Bachelor of Arts/Science, Colby College                                     1
Bachelor of Arts/Science, Williams College                                  1
Bachelor of Arts/Science, San Jose State University                         1
Name: Undergraduate, Length: 73, dtype: int64

In [19]:
under_sum = under_edu_count.sum()

In [21]:
top5_sum = under_edu_count.head().sum()
top5_sum

49

In [22]:
ivy_or_equivalent_percent = top5_sum/under_sum
ivy_or_equivalent_percent

0.3356164383561644